body{
    margin: 0;
}

input[type="checkbox"] {
    display: none;
}


.top{
    display: flex;
    background-color: black;
    justify-content: space-between;
    padding-left: 200px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.black-img{
    width:100px;
    height:70px;
}
.Friday{
    display: flex;
}
.Friday h2{
    color:white;
    padding-left: 5px;
}
.off{
    display: flex;
}
.off h1{
    color:#EBC80C;
}
.off p{
    color:white;
    padding-top:15px
}
.off h3{
    color: white;
    padding-top:10px
}
.shopnow{
    background-color: #EBC80C;
    width:156px;
    height: 48px;
    margin-top: 15px;
}
.close-btn{
    padding-top: 20px;
    padding-right: 10px;
}
.clicon-container{
    background-color: #1B6392;
    color:white;
    justify-content:space-between;
    padding-left: 200px;
}
.welcome-div{
    display: flex;
    justify-content: space-between;
}
.logo-div{
    display: flex;
    padding-bottom: 20px;
}
.socials{
    margin-top:20px;
    display: flex;
    padding-left: 150px;
}
.socials p{
    margin-top: -1px;
}
.social-icons{
    width:200px;
    height:20px;
    padding-left: 10px;
}
.drop-div{
    padding-right: 300px;
    padding-top: 20px;
}
.dropdown{
    background: transparent;
    border: none;
    color:white;
}
.search-input{
    width:450px;
    height:50px;
    border: none;
}
.search-form{
    padding-left: 60px;
    background-color: white;
    margin-left: 40px;
}
.search-input:focus{
    outline: none;
}
.arr{
    margin-bottom: -4px;
}
.icons{
    display: flex;
    padding-left: 75px;
    padding-top: 10px;
    gap:5px
}
.search-icon{
    padding-right:15px;  
}
.categories{
    display:flex;
    justify-content: center;
    border-bottom: 1px solid #e4edec;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-right: 50px;
}
.all-category{
    background:#F2F4F5;
    border: none;
    color:black;
    width:100px;
    height: 40px;
    margin-top: 2px;
}
.track-order, .compare, .support, .Help{
    display: flex;
    margin-left: 20px;
}
.order-img{
    width:24px;
    height:24px;
    padding-top: 12px;
    padding-right: 2px;
}
.compare-img{
    width:24px;
    height:24px;
    padding-top: 13px;
    padding-right: 2px;
}
.support-img{
    width:24px;
    height:24px;
    padding-top: 12px;
    padding-right: 2px;
}
.help-img{
    width:24px;
    height:24px;
    padding-top: 12px;
    padding-right: 2px;
}
.deals{
    padding-left: 100px;
    display: flex;
    margin-top: 50px;
}
.deal-txt{
    margin-top:-7px;
}
.timer{
    display: flex;
    padding-top: 10px;
    padding-left: 30px;
}
.countdown{
    background-color: #F3DE6D;
    width:180px;
    height:36px;
    padding-bottom: 15px;
    padding-left: 30px;
    margin-left: 10px;
}
.browse{
    display: flex;
    padding-left: 600px;
}
.browse h3{
    color:#2DA5F3
}
.arrow{
    width:20px;
    height: 20px;
    padding-top: 20px;
    padding-left: 5px;
}

.products{
    padding-left: 100px;
    display: flex;
}
.product-div1{
    border:1px solid #E4E7E9;
    width:300px;
    height:592px;
    padding-left: 20px;
}
.ratings{
    display: flex;
    margin-top: 20px;
}
.star{
    width:20px;
    height:20px;
}
.ratings div{
    padding-top: 15px;
}
.ratings p{
    color:#77878F;
}
.price{
    display: flex;
}
.price del{
    color:#ADB7BC
}
.price p{
    color:#2DA5F3;
    margin-top: 0px;
    padding-left: 5px;
}
.p1-footer{
    display: flex;
    gap:10px;
}
.Addcart{
    background-color: #FA8232;
    width:150px;
    padding-left: 20px;
    padding-top: 10px;
}
.cart-btn:focus{
    outline: none;
}
.Addcart button{
    background:transparent;
    border: none;
    color:white;
}
.cart{
   width:20px;
   height:20px;
}
.drone-div, .phone-div, .gaming-div, .monitor-div, .headphone-div, .camera-div{
    width:220px;
    height:296px;
    border:1px solid #E4E7E9;
    padding-left: 10px;
}
.drone-price{
    color:#2DA5F3;
}
.text{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
.shopping-catgs{ 
    overflow: hidden;
    display: flex; 
    gap:10px;
}
.shopping-catgs img{
    margin-left: 25px;
}
.shopping-catgs p{
    text-align: center;
}
.laptops, .phones, .headphones, .accessories, .cameras, .tv{
    width:200px;
    height:200px;
    border:1px solid #E4E7E9;
}
.charts{
    display: flex;
    padding-left: 70px;
    padding-top: 50px;
}
.flashsale{
    padding-bottom: 10px;
}
.bose, .cellphone, .smart-tv{
    width:312px;
    height: 104px;
    margin-bottom: 10px;
    display: flex;
    border:1px solid #E4E7E9;
}
.best-sellers{
    padding-left: 15px;
}
.samsung, .galaxy, .sony{
    width:312px;
    height: 104px;
    margin-bottom: 10px;
    display: flex;
    border:1px solid #E4E7E9;
}
.top-rated{
    padding-left: 15px;
}
.washing, .dell, .sony-cam{
    width:312px;
    height: 104px;
    margin-bottom: 10px;
    display: flex;
    border:1px solid #E4E7E9;
}
.new-arrivals{
    padding-left: 15px;
}
.tozo, .jbl, .wyze{
    width:312px;
    height: 104px;
    margin-bottom: 10px;
    display: flex;
    border:1px solid #E4E7E9;
}
.footer{
    margin-top: 40px;
    background-color: #191C1F;
    padding-left: 70px;
    display: flex;
    border-bottom: 1px solid #303639;
}
.section-1{
    padding-top: 50px;
}
.section-1 p{
    color:#77878F;
}
.section-1 h3{
    color:white;
}
.top-category{
    padding-top: 40px;
    padding-left: 80px;
}
.footer h2{
    color:white
}
.top-category p{
    color:#77878F;
}
.top-category h3{
    color:white;
}
.browseAll{
    color:#EBC80C;
    margin-top: -7px;
}
.quick-links{
    padding-top: 40px;
    padding-left: 80px;
}
.quick-links p{
    color:#77878F;
}
.download{
    padding-top: 40px;
    padding-left: 80px;
}
.google-play, .app-store{
    display: flex;
    background-color: #303639;
    width:170px;
    height:60px;
    margin-bottom: 10px;
    justify-content: center;
}
.apple, .google{
    width:32px;
    height: 32px;
}
.google-play p{
    color:white;
}
.app-store p{
    color:white;
}
.app-store img{
    margin-top:15px;
}
.google-play img{
    margin-top:15px;
    margin-left: -10px;
}
.popular-tag{
    padding-top: 40px;
    padding-left: 50px;
}
.tagrow1, .tagrow2, .tagrow3{
    display: flex;
}
.tags{
    color:white;
    border: 1px solid #303639;
    width:60px;
    height:40px;
    text-align: center;  
    margin-left: 5px;  
}
.tag:hover{
    color:white;
    background-color: grey
}
.tags:hover{
    color:white;
    background-color: grey
}
.tag{
    color:white;
    border: 1px solid #303639;
    width:100px;
    height:40px;
    text-align: center;
    margin-left: 5px;
}
.graphics{
    color:white;
    border: 1px solid #FFFFFF;
    background-color: #303639;
    width:100px;
    height:40px;
    text-align: center;
    margin-left: 5px;
}
.bottom{
    text-align: center;
    border-top: 1px solid #303639;
    color:#ADB7BC;
    background-color: #191C1F;
    padding-top:20px;
    padding-bottom: 20px;
}

 /* Slideshow */
 .shopping-catgs{
    overflow: hidden;
    margin-left:5%;
    margin-right:5%;
 }
 .pre-btn{
    position: absolute;
    left:0;
    background-color: #FA8232;
    border: none;
    border-radius: 100px;
    color: white;
    width:45px;
    height:45px;
 }
 .nxt-btn{
    position: absolute;
    right:0;
    background-color: #FA8232;
    border: none;
    border-radius: 100px;
    color: white;
    width:45px;
    height:45px;
 }
 .slide-btn .previous, .slide-btn .next {
    background-color: #FA8232;
    color: white;
}
.buttons{
    margin-top: 75px;
}
.pre-btn{
    margin-left:55px;
}
.nxt-btn{
    margin-right: 50px;
}

 /* MODAL */
 dialog::backdrop{
    background-color: #191C1F;
    opacity: 80%;
 }
 .data-close-modal{
    position: absolute;
    right:0;
    top:0;
    margin: 5px;
    height: 30px;
    width: 30px;
    border-radius: 100px;
    color:white;
    background-color: grey;
    border:none;
 }
 .modal-div{
    display: flex;
 }
 .modal-img{
    border:1px solid #E4E7E9;
    width:600px;
    height:450px;
 }
 .modal-info{
    padding-left: 30px;
 }
 .m1{
    display: flex;
 }
 .m1 img{
    width:20px;
    height:20px;
    margin-top: 20px;
    margin-right: 7px;
 }
 .m1 p{
    color:#5F6C72;
    margin-top: 22px;
    margin-left: 7px;
 }
 .info{
    display: flex;
    margin-top: 10px;
 }
 .info-2{
    margin-left: 80px;
 }
 .modalprice{
    color:#2DA5F3;
 }
 .offer-price{
    color:#77878F;
    margin-left: 10px;
 }
 .modal-cart{
    background-color: #FA8232;
    width:150px;
    padding-left: 20px;
    padding-top: 10px;
 }
 .cart-btn{
    border:none;
    padding-bottom: 15px;
 }
 .modal-bottom{
    display:flex;
    margin-top: 175px;
    margin-right: 10px;
 }
 .quantity{
    display: flex;
    width:120px;
    height:45px;
    border:2px solid #E4E7E9;
    margin-right: 10px;
    position: relative;
 }
 .buy-now{
    width:120px;
    height:45px;
    border:2px solid #FA8232;
    margin-left: 10px;
    color:#FA8232;
    border-radius: 2px;
 }
 .buy-now p{
    padding-left: 20px;
 }
 .plus{
    position: absolute;
    right:10px;
    top:15px;
 }
 .minus{
    position: absolute;
    left:10px;
    top:15px;
 }
 .quant-value{
    padding-left: 50px;
 }

  /* SHOPPING CARD */
.top-logo{
    background-color: #1B6392;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 150px;
    padding-right: 150px;
    display: flex;
    justify-content: space-between;
}
.path-div{
    background-color: #F2F4F5;
}
.path-info{
    padding-left: 150px;
    display: flex;
}
.home{
    width:20px;
    height: 20px;
    margin-top: 14px;
}
.homearrow{
    width:12px;
    height: 12px;
    margin-top: 20px;
}
.path-info p{
    margin-left: 10px;
    color:#5F6C72
}
.path-info h4{
    color:#2DA5F3;
    margin-top: 17px;
    margin-left: 5px;
}
.home-button{
    text-decoration: none;
}
.card-container{
    display: flex;
    padding-left: 150px;
    margin-top: 70px;
    margin-bottom: 200px;
}
.shopping-card{
    border:2px solid #E4E7E9;
    width: 650px;
}
.shopping-card h2{
    color:#191C1F;
}
.headings{
    display: flex;
    color:#475156;
    background-color: #E4E7E9;
    justify-content: space-between;
}
.item{
    display: none;
    position: relative;
}
.item-close{
    margin-top: 20px;
    width:20px;
    height: 20px;
}
.item-img{
    margin-right: 5px;
    margin-top: 5px;
    width:50px;
    height:60px;
}
.item-p{
    padding-left: 40px;
    margin-top: 35px;
}
.quantity2{
    display: flex;
    width:120px;
    height:45px;
    border:2px solid #E4E7E9;
    margin-right: 10px;
    position: relative;
    margin-left: 100px;
    margin-top: 10px;
 }
 .item-total{
    margin-top: 35px;
}
.sum{
    position: absolute;
    right: 0;
    margin-right: 40px;
}
.return-container{
    display: flex;
    border-top: 1px solid #E4E7E9;
    width: 650px;
    height: 80px;
}
.return-div{
    display: flex;
    width:200px;
    height: 50px;
    border:2px solid #2DA5F3;
    color: #2DA5F3;
    margin: 15px;
}
.return-div img{
    margin-top: 15px;
    margin-left: 10px;
}
.return-div p{
    margin-left: 10px;
}
.return-div a{
    text-decoration: none;
    color:#2DA5F3;
}
.update-div{
    width:150px;
    height: 50px;
    border:2px solid #2DA5F3;
    color: #2DA5F3;
    margin-left: 250px;
    margin-top: 15px;
}
.update-div p{
    margin-left: 15px;
}
.card-totals{
    border: 2px solid #E4E7E9;
    margin-left: 20px;
    width:450px;
    height:380px;
}
.card-totals h2{
    margin-left: 10px;
}
.total-amt{
    padding-right: 5px;
}
.shopping-card h2{
    margin-left: 10px;
}
.head{
    margin-left: 10px;
}
.st{
    margin-right: 10px;
}
.sub, .shipping,.discount,.tax,.total{
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
    margin-right: 10px;
}
.total{
    border-top: 1px solid #E4E7E9;
}
.proceed{
    color:white;
    display: flex;
    background-color: #FA8232;
    width:300px;
    height:50px;
    margin-left: 70px;
}
.proceed img{
    width:20px;
    height: 20px;
    margin-top: 15px;
}
.proceed p{
    padding-left: 50px;
}
.items-in-cart{
    position:absolute;
    margin-top:-8px;
    background-color:white;
    border-radius: 100px;
    width:18px;
    height: 17px;
    text-align: center;
    color:#1B6392;
    border: 1.5px solid #1B6392
}


.product-div1:hover{
    border: 2px solid orange;
}
.drone-div:hover{
    border: 2px solid orange;
}
.phone-div:hover{
    border: 2px solid orange;
}
.gaming-div:hover{
    border: 2px solid orange;
}
.monitor-div:hover{
    border: 2px solid orange;
}
.headphone-div:hover{
    border: 2px solid orange;
}
.camera-div:hover{
    border: 2px solid orange;
}
.laptops:hover, .phones:hover, .headphones:hover, .accessories:hover, .cameras:hover, .tv:hover{
    border: 2px solid orange;
}


@media(max-width:440px){
.cky-notice-btn-wrapper{
   flex-direction:row;
   flex-wrap:nowrap;
}
.cky-consent-bar{
   width:80%;
   margin: 0 auto;
}
.cky-consent-bar p,.cky-consent-bar .cky-btn{
   font-size:70% !important;
   line-height:1.5;
}
.cky-consent-container .cky-consent-bar, .cky-btn{
   padding:2% 0;
}

.cky-notice-des a.cky-policy{
 font-size:70% !important;
}
}














